@use "genericas";
@use "variables";

/*slogan*/
.slogan{
    display: flex;
    width: 100%; 
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
        
}
.lg{
    width: 10%;
    height: auto;
}
.sl1, .sl2{
    font-size: 200%;
    white-space: nowrap;
    

}

/*Index*/
.index-grid{
    display: grid;
    width: 80%;
    gap: 2%;
    margin-left: 10%;
    grid-template-areas: 
    "1 2";
    grid-template-columns: auto;
    grid-template-rows: auto auto;

}
.card-index{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "im1 text1";
    grid-template-columns: 30% 70%;
    grid-template-rows: 250px;
    img{
        @include variables.img-card(im1)
        
    }
    p{
        grid-area: text1;
        margin-top: 6%;
        padding: 2%;
    }
    h3{
        grid-area: text1;
        text-align: center;
        font-size: 200%;
    }

}
.quien{
    grid-area: 1;
}
.obj{
    grid-area: 2;
}

.links{
    display: grid;
    width: 100%;
    margin-top: 4%;
    gap: 2%;
    grid-template-areas:
    "plan elaboracion estilos";
    grid-template-rows: auto ;
    grid-template-columns: repeat(3, 1fr);    
}
.card-links{
    @include variables.card(auto, 350px);
    h3{
        grid-area: titulo;
        text-align: center;
    }
    img{
        @include variables.img-card(imagen1)
    }
}
.plan{
    grid-area: plan;
}
.elabo{
    grid-area: elaboracion;

}
.estil{
    grid-area: estilos;
}


/*plan de inversion*/
.plan-grid{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "enc1 enc2 enc3 enc4 enc5";
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    text-align: start;
    margin-top: 4%;
    gap: 1%;
}
.card-plan{
    @include variables.card(auto, auto);
    h3{
        font-size: 150%;
        text-align: center;
        color: variables.$titulo;
    }
    p{
        padding: 6%;
    }
    
}
.enc1{
    grid-area: enc1;
}
.colab{
    grid-area: enc2;
}
.enc2{
    grid-area: enc2;
}
.enc3{
    grid-area: enc3;
}
.enc4{
    grid-area: enc4;
}
.enc5{
    grid-area: enc5;
}
/*elaboración*/
.elab{
    display: grid;
    width: 90%;
    grid-template-areas: 
    "enc12" 
    "enc21" 
    "enc22"
    "enc23"
    "enc24";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto;
    text-align: start;
    margin-top: 4%;
    gap: 2%;  
}
.card-elab{
    display: grid;
    grid-template-areas: 
    "imagen1 texto1";
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px;
    h3{
        grid-area: texto1;
        font-size: 2rem;
        text-align: center;
        margin-top: 0%
    }
    p{
        margin-top: 4%;
        margin-left: 2%;
        grid-area: texto1 ;
    }
    img{
        @include variables.img-card(imagen1);
    }
}
.molienda{
    grid-area: enc12;
}
.macerado{
    grid-area: enc21;
}
.coccion{
    grid-area: enc22;
}
.maduracion{
    grid-area: enc23;
}
.embote{
    grid-area: enc24;
}
/*estilos*/
.font{
    font-family: "Crimson Text", serif;

}
.marg-top{
    margin-top: 3%;
}
/*contacto*/
.formulario {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-image: url(../imagenes/contacto.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    max-width: 30%; 
}

label {
    margin-bottom: 5px;
    font-size: 18px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px; 
    width: 100%; 
    box-sizing: border-box;
}

textarea {
    resize: vertical; 
    height: 100px;     
}
/*footer*/
footer{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10%;
    background-color: variables.$fondo;
    justify-content: space-around;
    a{
        width: 5%;
        height: 50%; 
    }
    img{
        width: 60%;
        margin-top: 3%;
        height: auto;
    }
}
.insta{
    width: 50%;
    margin-top: 10%;
}
/*responsive*/
@media (max-width: 500px){
    .sl1, .sl2{        
        font-size: 110%;
    }
    .lg{
     width: 20%;
    }
    /*introducción*/
    .text-grid{
        font-size: 100%;

    }
    .intro{
        margin-left: 5%;
        margin-right: 5%;
        grid-template-areas: 
        "imagen"
        "texto";
        grid-template-columns: auto;        
    }
    .im-grid{
        height: 95%;      
    }
    .p-plan{
        font-size: 240%;
    }
    /*Index*/
    .index-grid{
        grid-area: 
        "1"
        "2";
        grid-template-columns: 1fr;
    }
    .card-index{
        grid-template-areas: 
        "im1"
        "text1";
        grid-template-columns: 1fr;
        h3{
            font-size: 150%;
        }
        p{
            margin-top: 10%;
        }
        
    }
    .links{

        grid-template-areas:
        "plan"
        "elaboracion"
        "estilos";
        grid-template-columns: 1fr;
        padding: 3%;
    }

     
    /*plan de inversión*/
    .plan-grid{
        grid-template-areas: 
        "enc1"
        "enc2"
        "enc3"
        "enc4"
        "enc5";
        grid-template-columns: 1fr;
        padding: 3%;
        h3{
            font-size: 130%;
        }
        p{
            padding: 4%;
        }
    }
    /*foooter*/
    footer{
        margin-top: 50%;
        height: 30px;
    }
    footer a img{
        width:130% ;
    }
    .insta{
        width: 120%;
    }
    /*Elaboracion*/
    .card-elab{
        justify-items: center;
        grid-template-areas: 
        "imagen1"
        "texto1";
        grid-template-columns: 1fr;
        grid-template-rows: 200px;
        p{
            margin-top: 15%;
            margin-left: 4%;
        }
        img{
            width:100%;
            min-height: 100%;
            margin-left: 5%;
        }
    }
    .Planresp{
        margin-top: 100%;
    }
    /*contacto*/
    .contactr {
        font-size: 180%;
    }
    form{
        max-width: 80%;
    }

}
